---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Rattlesnake Systems-Where Speed Meets Precision.</h1>
			<p>
				We build high-performance hardware and mission-critical systems designed for real-world impact. 
                                From advanced drone protection systems to counter drone technology, our solutions are engineered for resilience, power, and control.
                                Born in the American Southwest, built to strike fast- Rattlesnake Systems delivers the bite behind the next generation of innovation.
				
			</p>
			
		</main>
		<Footer />
	</body>
</html>
